*{
    padding: 0;
    margin:0;  
    box-sizing: border-box; 
    --darkblue:#001233;
    --coralred:#FF595A;
    --beige:#CAC0B3;
}
body{
    font-family:Helvetica, sans-serif;
    font-size: 2rem;
    color:var(--beige);
    line-height: 1.5;
    display: block;
}
html{
    scroll-behavior: smooth;
    font-size: 55%;
    background-color:var(--darkblue);
}

/* Navbar style displaying links to the left and heading to the right*/

#navbar{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top:0;
    left:0;
    width:100%;
    background-color: var(--darkblue);
    z-index:999;
}
.nav-list{
    display: flex;
    margin-right: 2rem;
}
ul{
    list-style: none;
}
.nav-list a{
    font-size: 2.2rem;
    padding:2rem;
    display: block;
}
a{
    text-decoration: none;
    color:var(--beige);
}
.nav-list a:hover{
    background-color:var(--coralred);
    color: var(--darkblue);
}

#navbar h1{
    align-self: center;
    margin-right: auto;
    color: var(--beige);
}

/* Hero banner style */

.hero-banner{
    background-image: url("../images/hero-banner.png");
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: flex-end;
    background-position: top;
}

.hero-banner h2{
    position: relative;
    width: fit-content;
    background-color:var(--coralred);
    top: 3.5em;
    padding: 0.5rem;
    right:1.5em;
    color: var(--darkblue);
}

/* Wrapper style */

.page-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

/* General section style */

.page-section{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.page-section h2{
    border-right: 1px solid var(--coralred);
    padding-right: 2.5rem;
    font-size: 5rem;
    width: 20%;
    writing-mode: vertical-rl;
    color: var(--coralred);
    border-radius: 20px;
}

article{
    width:80%;
}

/* Work section style */

.grid{
    display: grid;
    width: 75%;
    grid-template-rows: 500px 250px 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "main-work main-work"
    "otherwork1 otherwork2"
    "otherwork3 otherwork4";
    margin-left: 4rem;
    margin-right: 4rem;
}

.main-work{
    grid-area: main-work;
    background-image: url("../images/wip.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.otherWork-1{
    grid-area: otherwork1;
    background-image: url("../images/wip.jpeg");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
}

.otherWork-2{
    background-image: url("../images/wip.jpeg");
    grid-area: otherwork2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.otherWork-3{
    background-image: url("../images/wip.jpeg");
    grid-area: otherwork3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.otherWork-4{
    background-image: url("../images/wip.jpeg");
    grid-area: otherwork4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gridElement{
    margin: 1.5rem;
    cursor: pointer;
    border: 5px solid var(--beige);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    border-radius: 10px;
    opacity: 0.7;
}

.titlebox{
    background-color: var(--coralred);
    width: fit-content;
    margin-bottom: 2em;
    padding: 1rem;
    color: var(--darkblue);
    opacity: 1 !important;
}

.gridElement:hover{
    opacity: 1;
}


/* About section style */

#about p{
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 1rem;
}

/* Contact me section style */

.contactbox{
    display: flex;
    justify-content:space-around;
    width: 80%;
    align-self: center;
    font-size: 4rem;
}

.contactbox a{
    border-bottom: 1px solid var(--coralred);
}